# Copy this file contents to secrets.yaml and fill in your own values.

# Wi-Fi credentials
wifi_ssid: "your_wifi_ssid"
wifi_password: "your_wifi_password"

# ESPHome API encryption key
api_encryption_key: "your_generated_key"

# OTA update password
ota_password: "your_ota_password"

# Access point password
ap_password: "your_ap_password"
